body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  max-width: 1200px; /* Set a maximum width for your content */
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 20px; /* Add some padding to the sides */
}
 
.section{
        background-color: #ff000038;
        padding: 5px;
      }
      .icons{
        font-size: 30px;
        
      }
      .kolhapur{
        font-size: 20px;
      }
      
    
    .sectionabout {
        background-image: url("../ContactUs/images/contact.jpg");
        width: 100%;
        background-color:#000;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px;
        opacity: 0.5;
    }
    
    .title {
        font-size: 60px;
        color: #4525b9;
        text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    }
    
    /* Adjustments for mobile devices */
    @media (max-width: 768px) {
        .title {
            font-size: 40px;
        }
        .sectionabout {
            padding: 50px;
        }
    }
    
    /* Adjustments for smaller screens */
    @media (max-width: 576px) {
        .title {
            font-size: 30px;
        }
        .sectionabout {
            padding: 30px;
        }
    }
    /***********************section4******************/
.section4{
    padding: 30px;
    background-color: red;
  }
  
  .parking{
    font-size: 30px;
    color: #fff;
      display: inline-block;
      vertical-align: middle;
      
  }
  .parking p{
    font-size: 20px;
    color: #fff;
      display: inline-block;
      
      
  }
  /* Style for the address container */
.consec {
  padding: 20px;
  background-color: #f9f9f9;
}

/* Style for the hotel name */
.address h3 {
  margin-top: 40px;
  font-size: 24px;
}

/* Style for the address details */
.address p {
  margin: 5px 0;
  font-size: 16px;
}



/* Style for the image container */
.adrrimg {
  margin-top: 20px;
}

/* Ensure the image fills its container */
.adrrimg img {
  width: 100%;
  height: auto;
}
.googlemap{
  padding: 20px;
}
  